<tr class="<%= cycle("even", "odd") %>">
  <td><%= point.name %></td>
	<td><%= point.section_id %></td>
  <td><%= point.distance %></td>
	<td><%= point.distance_corrected %></td>
	<td><%= point.kilometric_position %></td>
	<td><%= point.kilometric_position_corrected %></td>
  <td><%= point.elevation %></td>
	<td><%= point.height %></td>
  <td><%= point.d1 %></td>
  <td><%= point.d2 %></td>
  <td><%= link_to 'Show', point %></td>
  <td><%= link_to 'Edit', edit_point_path(point) %></td>
  <td><%= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>