<h1>Point calculation</h1>
<%=	javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" %>

<h2>Output for error calculations</h2>

<% @sections.each_with_index do |section, sindex| %>

	<% # Retrieve our values
	total_distance = @total_distances[sindex]
	@total_points_calc = @total_points_sections[sindex]
	total_points = section.points.count
	error = @errors[sindex]
	%>
	
	<h3>Section	<i><%= section.name %></i></h3>
	<hr>
	<p>
		\( \Sigma d_{<%= section.name %>} = <%= section.name %> \)
	</p>
	<p>
		\( \Sigma d_{<%= section.name %>}= \) <%= render :partial => 'points/error', :locals => {:section => section, :sindex => sindex} %> = <%= total_distance %>			
	</p>
	<p>
		\( <%= section.name %>= \) <%= section.length %>
	</p>
	<p>e = \( \frac{<%= total_distance %> - <%= section.length %>}{<%= @total_points_calc %>} \) = <%= error %></p>
<% end %>
