<h1>Listing points</h1>
<table>
  <tr>
    <th>Name</th>
		<th>Section</th>
    <th>Distance</th>
		<th>Distance Corrected</th>
		<th>Kilometric position</th>
		<th>Kilometric position corrected</th>
    <th>Elevation</th>
		<th>Height</th>
    <th>D1</th>
    <th>D2</th>
    <th></th>
    <th></th>
		<th></th>
  </tr>

<% @points.each do |point| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= point.name %></td>
		<td><%= point.section_id %></td>
    <td><%= point.distance %></td>
		<td><%= point.distance_corrected %></td>
		<td><%= point.kilometric_position %></td>
		<td><%= point.kilometric_position_corrected %></td>
    <td><%= point.elevation %></td>
		<td><%= point.height %></td>
    <td><%= point.d1 %></td>
    <td><%= point.d2 %></td>
    <td><%= link_to 'Show', point %></td>
    <td><%= link_to 'Edit', edit_point_path(point) %></td>
    <td><%= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Point', new_point_path %>
<%= link_to 'Calculate', :controller => "points", :action => "calculate" %>